/*Configuración básica para convertir px a rem*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*variables para los colores */
:root {
    --primary-black-color: #272727;
    --secundary-black-color: #171717;
    --third-black-color: #3c3c3c;
    --primary-blue-color: #8ab4f8;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #9aa0a6;
    --hover-color: rgba(232,234,237,.08);
  }

/*Body del proyecto*/
body{
    background-color: var(--primary-black-color);
    height: 100vh;
    overflow: hidden;
}

/*Barra de navegación del proyecto*/
nav{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.navegador{
    list-style: none;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    margin-right: 4rem;
}
.navegador__Item{
    display: inline-block;
    cursor:pointer; 
}
.navegador__Item a{
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
}
.navegador__Item a:hover{
    color: var(--primary-font-color);
    text-decoration: underline;
}
.navegador__Item input{
    background-color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    height: 3.5rem;
    width: 12rem;

}
#button:hover{
    cursor: pointer;
    background-color: var(--primary-font-color);
    border-color: var(--primary-font-color);
}
.navegador__Item svg{
    width: 3rem;
    height: 3rem;
    fill: var(--primary-font-color);
}
.navegador__Item svg:hover{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    opacity: 1;
    border-radius: 2rem;
}

/*Container de apps al presionar botón*/
.containerApps{
    background-color: var(--secundary-black-color);
    border-color: var(--primary-black-color);
    border-style: solid;
    border-width: 0.9rem;
    border-radius: 4.5rem;
    box-shadow: 0 4px 8px 0 var(--secundary-black-color), 0 6px 20px 0 var(--secundary-black-color);
    display: none;
    width: 40rem;
    height: 45rem;
    position: absolute;
    left: 93rem;
    top: 7rem;
    z-index: 1;
    overflow: auto;

    /*estilos para cuando se presiono el containerApps*/
    padding-top: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    row-gap: 0.5rem;
}
.containerApps::-webkit-scrollbar{
    width: 0.7rem;

}
::-webkit-scrollbar-track {
    background: var(--primary-black-color); 
  }
.containerApps::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 0.5rem; 
}
.containerApps::-webkit-scrollbar-thumb:hover{
    background: var(--secondary-font-color);
}
.itemApp{
    width: 10rem;
    height: 10rem;
    background-color: var(--secundary-black-color);
    border-style: solid;
    border-color: var(--secundary-black-color);
    border-width: 0.1rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemApp li{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemApp a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemApp img{
    width: 60%;
    height: 60%;
    cursor: pointer;
}
.itemApp:hover{
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}


/*Main del proyecto con GRID*/
main{
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.containerMain{
    grid-column: 2 / span 10;
    grid-row: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.containerMain figure{
    grid-column: 4 / span 3;
}
.containerMain div{
    grid-column: 3 /span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBuscadorItems{
    width: 100%;
    height: 100%;
}

/*Selector #google, #microfono y #Lupa son las imagenes que se utilizan en la página.*/
#google{
    height: 100%;
    width: 100%;
}
#microfono{
    height: 15px;
    width: 15px;
}
#lupa{
    height: 15px;
    width: 15px;
}

/*Clase buscador que nos diseña la barra buscadora que crea el espacio donde se escribirá lo que el usuario buscará.*/
.buscador{
    background-color: var(--primary-black-color);
    font: sans-serif;
    font-size: 1.9rem;
    color: var(--primary-font-color);
    height: 5rem;
    width: 95%;
    border: 0.1rem solid var(--secondary-font-color);
    border-radius: 2.5rem;
    padding-left: 2.5rem;
}
.buscador:hover{
    background-color: var(--third-black-color);
}

/*Container de apps al presionar botón
.containerApps{
    background-color: var(--secundary-black-color);
    border-color: var(--primary-black-color);
    border-style: solid;
    border-width: 0.9rem;
    border-radius: 4.5rem;
    box-shadow: 0 4px 8px 0 var(--secundary-black-color), 0 6px 20px 0 var(--secundary-black-color);
    display: none;
    width: 40rem;
    height: 45rem;
    position: absolute;
    left: 93rem;
    top: 7rem;
    z-index: 1;
    overflow: auto;
}
.containerApps::-webkit-scrollbar{
    width: 0.7rem;

}
::-webkit-scrollbar-track {
    background: var(--primary-black-color); 
  }
.containerApps::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: 0.5rem; 
}
.containerApps::-webkit-scrollbar-thumb:hover{
    background: var(--secondary-font-color);
}
.itemApp{
    width: 12rem;
    height: 12rem;
    background-color: #8ab4f8;
    border-style: solid;
    border-color: var(--secundary-black-color);
    border-width: 0.5rem;
}*/

/*Pie de página del proyecto*/
footer{
    background-color: var(--secundary-black-color);
    width: 100%;
    height: 15%;
}
hr{
    color: var(--primary-black-color); 
    size: 0.1rem;
}
p{
    color: var(--secondary-font-color);
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0px 20px 0 20px;
    padding: 5px 0px 5px 0px;
}
.footer{
    list-style: none;
    text-align: center;
    font-family: sans-serif;
    padding: 5px 0px 5px 0px;
}
.footer__Item{
    display: inline-block;
    margin-right: 5px;
}
.footer__Item a{
    color: var(--secondary-font-color);
    text-decoration: none;
    font-size: 1.5rem;
}
.footer__Item a:hover{
    color: var(--primary-font-color);
    text-decoration: underline;
}
